<div>
  <h2><%= @application.name %></h2>
  <p><%= @application.description %></p>
</div>

<%= link_to "Edit", edit_application_path(@application) %>
<hr />
<%= button_to "Destroy", application_path(@application), method: :delete %>

